@import "tailwindcss";

@layer base {
  body {
    background-color: #f9fafb;
    /* gray-50 */
    color: #111827;
    /* gray-900 */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
}

@layer utilities {
  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .perspective-1000 {
    perspective: 1000px;
  }
}

@keyframes shine {
  from {
    transform: translateX(-150%) skewX(-25deg);
  }

  to {
    transform: translateX(150%) skewX(-25deg);
  }
}

.animate-shine {
  animation: shine 1s;
}